<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<style>
    @page { size: A4 landscape; margin: 18pt 22pt 16pt 22pt; }
    body { font-family: Helvetica, Arial, sans-serif; font-size: 9pt; color: #000; }
</style>
</head>
<body>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="right">
            <font size="2">
                <b>LAMPIRAN IV</b><br/>
                PERATURAN BADAN PENGAWAS OBAT DAN MAKANAN NOMOR 26<br/>
                TAHUN 2019<br/>
                TENTANG MEKANISME MONITORING EFEK SAMPING KOSMETIK
            </font>
        </td>
    </tr>
</table>

<p align="center">
    <font size="4"><b><u>TABEL REKAPITULASI HASIL MONITORING EFEK SAMPING KOSMETIKA</u></b></font>
</p>

<table border="0" cellpadding="1" cellspacing="0">
    <tr>
        <td width="130">Nama Perusahaan</td>
        <td width="14">:</td>
        <td><b>{{ company.nama }}</b></td>
    </tr>
    <tr>
        <td width="130">Nomor Telepon</td>
        <td width="14">:</td>
        <td>{{ company.telepon or '-' }}</td>
    </tr>
    <tr>
        <td width="130">Email</td>
        <td width="14">:</td>
        <td>{{ company.email }}</td>
    </tr>
    <tr>
        <td width="130">Periode</td>
        <td width="14">:</td>
        <td>{{ period_label }}</td>
    </tr>
</table>

<br/>

<table border="1" cellpadding="3" cellspacing="0">
    <tr>
        <td width="28" align="center"><b><font size="1">No</font></b></td>
        <td width="130" align="center"><b><font size="1">Nama Produk</font></b></td>
        <td width="88" align="center"><b><font size="1">Nomor<br/>Notifikasi</font></b></td>
        <td width="72" align="center"><b><font size="1">Jumlah Kasus<br/>per Produk<br/>(*)(**)</font></b></td>
        <td width="78" align="center"><b><font size="1">Nama Pengguna<br/>(Singkatan) (*)</font></b></td>
        <td width="58" align="center"><b><font size="1">Jenis<br/>Kelamin (*)</font></b></td>
        <td width="40" align="center"><b><font size="1">Usia (*)</font></b></td>
        <td width="108" align="center"><b><font size="1">Jenis Efek yang Tidak<br/>Diinginkan<br/>(Serius/Non Serius) (*)</font></b></td>
        <td width="100" align="center"><b><font size="1">Bentuk Manifestasi<br/>yang Terjadi (*)</font></b></td>
        <td width="80" align="center"><b><font size="1">Tanggal Mulai<br/>Terjadi Kasus (*)</font></b></td>
    </tr>
    {% if cases %}
        {% for c in cases %}
        <tr>
            <td width="28" align="center"><font size="1">{{ loop.index }}</font></td>
            <td width="130"><font size="1">{{ product.nama_produk }}</font></td>
            <td width="88" align="center"><font size="1">{{ product.no_na_produk or '-' }}</font></td>
            <td width="72" align="center"><font size="1">{{ cases|length }}</font></td>
            <td width="78" align="center"><font size="1">{{ c.nama }}</font></td>
            <td width="58" align="center"><font size="1">{{ c.jenis_kelamin }}</font></td>
            <td width="40" align="center"><font size="1">{{ c.usia }}</font></td>
            <td width="108" align="center"><font size="1">{{ c.jenis_efek }}</font></td>
            <td width="100" align="center"><font size="1">{{ c.manifestasi }}</font></td>
            <td width="80" align="center"><font size="1">{{ c.tanggal_mulai }}</font></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td width="28" align="center"><font size="1">1</font></td>
            <td width="130"><font size="1">{{ product.nama_produk }}</font></td>
            <td width="88" align="center"><font size="1">{{ product.no_na_produk or '-' }}</font></td>
            <td width="72" align="center"><font size="1">Nihil</font></td>
            <td width="78" align="center"><font size="1">Nihil</font></td>
            <td width="58" align="center"><font size="1">Nihil</font></td>
            <td width="40" align="center"><font size="1">Nihil</font></td>
            <td width="108" align="center"><font size="1">Nihil</font></td>
            <td width="100" align="center"><font size="1">Nihil</font></td>
            <td width="80" align="center"><font size="1">Nihil</font></td>
        </tr>
    {% endif %}
    {% set filled = cases|length if cases else 1 %}
    {% for n in range(filled + 1, 6) %}
        <tr>
            <td width="28" align="center"><font size="1">{{ n }}</font></td>
            <td width="130">&nbsp;</td>
            <td width="88"></td>
            <td width="72"></td>
            <td width="78"></td>
            <td width="58"></td>
            <td width="40"></td>
            <td width="108"></td>
            <td width="100"></td>
            <td width="80"></td>
        </tr>
    {% endfor %}
    {% for i in range(2) %}
        <tr>
            <td width="28">&nbsp;</td>
            <td width="130"></td>
            <td width="88"></td>
            <td width="72"></td>
            <td width="78"></td>
            <td width="58"></td>
            <td width="40"></td>
            <td width="108"></td>
            <td width="100"></td>
            <td width="80"></td>
        </tr>
    {% endfor %}
</table>

<p>
    <font size="2">
        (*) &nbsp;: Apabila dalam periode pelaporan tidak terjadi efek tidak diinginkan, dapat diisi Nihil.<br/>
        (**) : Apabila terjadi kasus, Formulir Pelaporan Efek Samping Kosmetika dilampirkan.
    </font>
</p>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="68%"></td>
        <td width="32%" align="center">
            <font size="2">
                Tanggal {{ signature_date }}<br/>
                Penanggung Jawab Teknis<br/>
                {% if apt_signature_uri %}
                <img src="{{ apt_signature_uri }}" height="48"/><br/>
                {% else %}
                <br/><br/><br/>
                {% endif %}
                ({{ company.penanggung_jawab_teknis }})
            </font>
        </td>
    </tr>
</table>

</body>
</html>
